.sales-list{
  .search-opt{
    padding:20px;

    dl{
      display:flex;
      margin-bottom:10px;


      dt{
        width:90px;
        margin-top:20px;
        transform: translateY(-10px);
      }
      dd{
        flex:1;
      }
    }

    .search-btn{
      width:100%;
      background:#292929;
      color:#fff;
      min-height:45px;
    }
  }
}
.date-selector{
  margin:0;

  input{
    width:100%;
    height:40px;
  }

  .date-btns{
    display:flex;
    align-items: center;
    border:1px solid #d2d2d2;
    margin-top:8px;
    border-radius:4px;
    overflow: hidden;

    .v-btn{
      flex:1;
      border-radius:0;
      border-right:1px solid #d2d2d2;
      max-height:40px;
      &:last-child{
        border-right:0;
      }
    }
  }
}


.list{
  .list-head{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    padding:0 20px;
    border-bottom:1px solid #e2e2e2;

    h3{
      display:flex;
      align-items: center;
      line-height:1;
      span{
        color:#de0059;
        margin-left:5px;
      }
    }

    .v-btn{
      background:#f2f2f2;
      max-height:30px;
      padding:0 10px;

      .v-icon{
        margin-right:2px
      }
    }
  }
}

.sales-shop-item{
  padding:20px;
  border-bottom:1px solid #e2e2e2;
  strong{
    display:block;
    font-size:15px;
    font-weight:500;
    margin-bottom:10px;
  }

  .divider{
    margin:10px 0;
  }

  dl{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5px;
    &:last-child{
      margin-bottom:0;
    }

    dt{
      color:#898989;
    }
    dd{
      font-size:14px;
    }
  }

  .total{
    dd{
      font-size:14px;
      font-weight:bold;
      color:#de0059;
    }
  }
}